/* Global //////////////////////////////////////////////////////////////////////////////*/


body {
  margin: 0px;
  padding: 0px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  all: unset;
  background-color: white;
}

button:hover {
  border: 1px solid black;
  box-shadow: 0px 0px 3px black;
}

button:active {
  border: 1px solid black;
  box-shadow: 0px 0px 3px black;
  opacity: 40%;
}

h1 {
  color: blue;
  display: block;
  text-align: center;
}

/* This is calculator /////////////////////////////////////////////////////////////////*/

.calculator {
  height: 400px;
  width: 200px;
  margin: 10px;
  padding: 10px 5px;
  background-color: black;
  display: flex;
  border-radius: 5%;
}

.container {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container button {
  margin: 5px;
}

.screen {
  background-color: #0d4b08;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screenbtn {
  all: unset;
  background-color: #0d4b08;
  width: 170px;
  height: 50px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 50px;
  height: 50px;
  background-color: rgb(46, 89, 138);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  display: block;
}

.box1 {
  width: 50px;
  height: 16px;
  background-color: rgb(46, 89, 138);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  display: block;
}

/* This is shop //////////////////////////////////////////////////////////////////////*/

.shop {
  width: 900px;
  height: 650px;
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.shoplist {
  margin: 10px;
  width: 880px;
  height: 463px;
  background-color: orangered;
  display: flex;
  flex-wrap: wrap;
}

.item1 {
  all: unset;
  width: 200px;
  height: 210px;
  background-color: blue;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemimg {
  margin: 5px;
}

.info {
  /* background-color: green; */
  width: 200px;
  display: flex;
  justify-content: space-evenly;
}

.addToCart {
  width: 170px;
  line-height: 20px;
  display: inline;
  margin: 5px;
  border: 1px solid black;
  border-radius: 10px;
}

.checkout {
  margin: 0px 10px 10px 10px;
  height: 150px;
  width: 880px;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.summaryBox {
  all: unset;
  width: 95%;
  height: 50px;
  background-color: indianred;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cartList {
  font-size: 20px;
}

.cartCost {
  font-size: 20px;
}

.cartTax {
  font-size: 20px;
}

.totalC {
  font-size: 20px;
}

.buyNowBox {
  width: 95%;
  height: 80px;
  background-color: maroon;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buyNow {
  all: unset;
  background-color: #4CAF50;
  width: 130px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px 20px 5px 20px;
}

.resetCart {
  all: unset;
  background-color: #4CAF50;
  width: 130px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px 20px 5px 20px;
}

/* This is rps ////////////////////////////////////////////////////////////////////////*/

.rps {
  border: 2px solid #000000;
  border-radius: 2px;
  background-color: #2e598a;
  height: 380px;
  width: 600px;
}

.rpssubtitlebox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 5px;
}

.rpssubtitle {
  all: unset;
  background-color: #1278c0;
  margin: 2px 5px;
  padding: 5px;
  border-radius: 15px;
}

.pmoves {
  background-color: #2e598a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  height: 150px;
}

.gamebtn {
  all: unset;
  background-color: #4CAF50;
  height: 100px;
  width: 100px;
  text-align: center;
  border-radius: 50%;
}

.gamebtn:hover {
  border: 0px solid black;
  box-shadow: 0px 0px 5px black;
}

.ResultsBox {
  background-color: red;
  display: flex;
  justify-content: space-between;
  height: 130px;
}

.rps-results {
  background-color: yellow;
  height: 130px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scoretxt {
  font-size: 25px;
  display: block;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.score {
  background-color: yellow;
  height: 130px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winsd {
  all: unset;
  font-size: 18px;
  margin: 0px 0px 10px 0px;
}

.lossesd {
  all: unset;
  font-size: 18px;
  margin: 0px 0px 10px 0px;
}

.tiesd {
  all: unset;
  font-size: 18px;
  margin: 0px 0px 10px 0px;
}

/* .extras {} */

.overall {
  background-color: rgb(212, 121, 212);
  width: 150px;
  text-align: center;
}

.overallTitle {
  all: unset;
  color: black;
  font-weight: bold;
  font-size: 25px;
}

.overalltxt {
  all: unset;
  display: block;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.resultImg {
  width: 90px;
  height: 80px;
  background: transparent;
}

.resetscore {
  background-color: #4CAF50;
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 5px 0px;
}

.resetscorebtn {
  all: unset;
  background-color: #419cd1;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.resetscorebtn:hover {
  border: 1px solid black;
  box-shadow: 0px 0px 5px black;
}

/* This is Q & A  ////////////////////////////////////////////////////////////////////////////*/

.qaBox {
  width: 600px;
  height: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.js-screen {
  background-color: red;
  height: 200px;
  width: ;
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.qaBtnBox {
  background-color: white;
  height: 80px;
  width: ;
  margin: 0px 6px 6px 6px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.qaBtn {
  width: 50px;
  height: 50px;
}